POSTGRES_DB=netpack
POSTGRES_USER=netpack
POSTGRES_PASSWORD=netpack_dev_password
POSTGRES_PORT=5432

ELASTICSEARCH_PORT=9200
ES_JAVA_OPTS=-Xms512m -Xmx512m

MINIO_ROOT_USER=netpack
MINIO_ROOT_PASSWORD=netpack_dev_password
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_EVIDENCE_BUCKET=evidence
MINIO_EXPORTS_BUCKET=exports

KAFKA_PORT=9092
